*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    font-family: open sans-serif;
    background: linear-gradient(to right, #ffffff, #0a88cb);
}
body h1{
    text-align: center;
    border-bottom: 3px double;
    border-color: black;
    margin-left: 20pc;
    
}

a{
   color: white;
   text-decoration: none; 
}
.toggle-btn{
    position: absolute;
    left: 80px;
    top: 15px;
}
.toggle-btn span{
    display: block;
    background-color: white;
    width: 30px;
    height: 5px;
    margin: 3px;
}
.wrapper .sidenav{
    position: fixed;
    left: 0;
    top: 0;
    width: 20vw;
    height: 100vh;
    background: #231f20;
}
ul li{
    text-align: center;
    align-items: center;
    list-style: none;
    padding: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.377);
    border-top: 1px rgba(255, 255, 255, 0.315);
}
ul li:hover{
    background:  #383133
}

.wrapper .main-content{
   font-size: 2cm;
   margin-left: 15cm;
}
.back-button {
    font-size: 30px;
    position: absolute;
    margin-top:  10cm;
    padding: 10px 20px;
    background-color: #ebebeb;
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
    cursor: pointer;
      border-radius: 50px;
      transition: 0.2s;
  }
.back-button:hover{
      box-shadow:0 5px 20px 0 #010a20 inset,0 5px 20px 0 #010818,
                 0 5px 20px 0 #030d26 inset,0 5px 20px 0 #031238;
  }

